.Albums {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 95px;
    justify-content: space-evenly;

   
}
.logo {
    margin-left: 60px;
    height: 200px;
    margin-top: 20px;
}
header { 
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    margin-top: 25px;
    
}


.albumArt {
    display: flex;
    flex-direction: row;
    max-width: 200px;
    height: 200px;
    padding: 1rem;
    justify-content: space-evenly;
    margin-top: .5em;
    border-radius: 25px;
    
   
   
  
    
    
    
}
