body {
    background-color: #FFCF62;
}
h1{
    font-size: 98px;
}
header {
    background-color:#F9912B ;
}

   
.albumArt{
    background-color: #F46161;
}
/* #FDD5C0 light salmon
#FB8289 pink
#F46161 red/pink
#F9912B orange
#FFCF62  yellow */