.Albums {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 95px;
    justify-content: space-evenly;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
   
}

.newAlbum-button{
    margin-bottom: 15%;
}
.logo {  

}

header { 
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    padding: 10px;
    margin-top: 25px;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
}
.Albums {
    margin-top: 50px;
   
}


.albumArt {
    display: flex;
    flex-direction: column;
    

    margin: 1em;
    border-radius: 25px;
    
}

.artist-name {
    max-height: 30px;
}

.title {
    
}
/* body {
    background: url("../../AlbumCovers/largewoodgrain.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   } */

    


   
   
  
    
    
    

