.Albums {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 95px;
    justify-content: space-evenly;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
   
}
.logo {  

}

header { 
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    padding: 10px;
    margin-top: 25px;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
}


.albumArt {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    justify-content: space-evenly;
    margin: 1em;
    border-radius: 25px;
    
}

.artist-name {
    max-height: 30px;
}

.title {
    
}

    


   
   
  
    
    
    

