body {
    background-color: #FFCF62;
}
h1{
    font-size: 98px;
}
header {
    background-color:#F9912B ;
    border: 2px solid black;
    box-shadow: 5px 10px;
    width: 85%;
}

.newAlbum-button{
    background-color: rgba(0, 174, 255, 0.637);
    font-family: 'Contrail One', cursive;
    font-weight:normal
}

.addSongButton {
    background-color: rgba(0, 174, 255, 0.637);
    font-family: 'Contrail One', cursive;
    font-weight:normal
}

.update-button{
    background-color: rgba(0, 174, 255, 0.637);
    margin: 5px;
    box-shadow: 2px 2px;
    font-family: 'Contrail One', cursive;
    font-weight:normal
}

.delete-button{
    background-color: rgba(0, 174, 255, 0.637);
    margin: 5px;
    box-shadow: 2px 2px;
    font-family: 'Contrail One', cursive;
    font-weight:normal
    
}
/* .backButton {
    background-color: rgba(0, 174, 255, 0.637);
    margin: 10px;
    font-family: 'Contrail One', cursive;
    font-weight:normal
} */

.header{

}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
  
  
    
}


.albumArt {
    width: 20vh;
    border: 2px solid black;
    padding: 5px;
    margin: 20px;
    background-color: pink;
    box-shadow: 5px 10px;
}

.html{
    
}

.Albums {

   

}

.new-album {
    margin-top: 60px;
}

/* .albumArt{
    background-color: #F46161;
} */

.artist-name {
    font-family: 'Contrail One', cursive;
}

.thumbnail:hover {
    position:relative;
    top: 5px;
    left:0px;
    width:15vh;
    height:auto;
    display:block;
    z-index:999;
    transform: scale(2.5);
    padding: 40px;
    transition: transform .2s;
    margin-left: 1em;
}

.title {
    font-family: 'Contrail One', cursive;
    font-weight:normal
}


/* #FDD5C0 light salmon
#FB8289 pink
#F46161 red/pink
#F9912B orange
#FFCF62  yellow */