body {
    background-color: #FFCF62;
}
h1{
    font-size: 98px;
}
header {
    background-color:#F9912B ;
    border: 2px solid black;
    box-shadow: 5px 10px;
    width: 85%;
}

.newAlbum-button{
    background-color: #3DD1E7;
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-family: 'Contrail One', cursive;
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.25rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: space-evenly;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 200px;
    height: 50px;
    max-width: 460px;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    align-items: flex-end;
    margin-top: 1rem;
}

.newAlbum-button:focus {
    outline: 0;
  }
  
  .newAlbum-button:after {
    content: '';
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
  }
  
  .newAlbum-button:hover:after {
    bottom: 2px;
    left: 2px;
  }
  
  @media (min-width: 768px) {
    .newAlbum-button {
      padding: .75rem 3rem;
      font-size: 1.25rem;
    }
  }

.addSongButton {
    background-color: rgba(0, 174, 255, 0.637);
    font-family: 'Contrail One', cursive;
    font-weight:normal
}

.update-button{
    background-color: rgba(0, 174, 255, 0.637);
    margin: 5px;
    box-shadow: 2px 2px;
    font-family: 'Contrail One', cursive;
    font-weight:normal
}

.delete-button{
    background-color: #e7150e;
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-family: 'Contrail One', cursive;
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.25rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: space-evenly;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    max-width: 100px;
    max-height: 30px;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    align-items: flex-end;
    margin-top: 1vh;
    margin-left: 5vh;
}

.delete-button:focus {
    outline: 0;
  }
  
  .delete-button:after {
    content: '';
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
  }
  
  .delete-button:hover:after {
    bottom: 2px;
    left: 2px;
  }
  
  @media (min-width: 768px) {
    .delete-button {
      padding: .75rem 3rem;
      font-size: 1.25rem;
    }
  }
/* .backButton {
    background-color: rgba(0, 174, 255, 0.637);
    margin: 10px;
    font-family: 'Contrail One', cursive;
    font-weight:normal
} */

.header{

}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
  
  
    
}


.albumArt {
    width: 20vh;
    border: 2px solid black;
    padding: 5px;
    margin: 20px;
    background-color: pink;
    box-shadow: 5px 10px;
}

.html{
    
}

.Albums {

   

}

.new-album {
    margin-top: 60px;
    margin-left: 20vh;
}

/* .albumArt{
    background-color: #F46161;
} */

.artist-name {
    font-family: 'Contrail One', cursive;
}

.thumbnail:hover {
    position:relative;
    top: 5px;
    left:0px;
    width:15vh;
    height:auto;
    display:block;
    z-index:999;
    transform: scale(2.5);
    padding: 40px;
    transition: transform .2s;
    margin-left: 1em;
}

.title {
    font-family: 'Contrail One', cursive;
    font-weight:normal
}


/* #FDD5C0 light salmon
#FB8289 pink
#F46161 red/pink
#F9912B orange
#FFCF62  yellow */